
<section class="center ">

         <div class="questionanswer col-md-10">
          <section class="table-bordered orangebackground">
                  <section class="questionbodyinsideuser text-left">
                   	<div class="signupform">


<h1>Editing Question</h1>

<%= render 'form' %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', user_path(@question.user_id) %>


</div>
</section>
</section>
</div>
</section>