<section class="center ">

         <div class="questionanswer col-md-10">
          <section class="table-bordered orangebackground">
                  <section class="questionbodyinsideuser text-left">
                   	<div class="signupform">


<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Back To Profile', @user %> |
<%= link_to 'Home', users_path %>


</div>
</section>
</section>
</div>
</section>